.myContainer {
  width: 95%;
  max-width: 1116px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 150px 0;
  padding-top: 200px;
}
.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
@media only screen and (max-width: 991px) {
  .myContainer {
    max-width: 546px;
    grid-template-columns: 1fr;
    padding-top: 140px;
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 380px) {
  .container {
    width: 98%;
  }
}
