.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  min-height: 100vh;
  padding: 150px 0;
  padding-top: 200px;
}
@media only screen and (max-width: 991px) {
  .wrapper {
    max-width: 546px;
    grid-template-columns: 1fr;
  }
  .wrapper {
    padding-top: 140px;
    padding-bottom: 80px;
  }
}
